:root {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    --primary-font-color: white;
    --secondary-font-color: black;
    --main-bg-color: white;
    --alt-bg-color: #1145A9;
    --main-bg-transparent-color: rgba(0, 0, 0, 0.5);
    --button-color: #F1F1F1;
    --box-shadow-color: darkblue;

    
    overflow-x: hidden;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

:root::-webkit-scrollbar {
    display: none;
}

/* CSS Reset
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: var(--primary-font-color);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of actual styling, with CSS for Nav and Header */

.frontpage-start{
    background-image: url("../resources/IMG_1 (20).JPG");
    background-size: 230vw;
    animation: heroBackgroundAnimation 25s ease-in-out infinite;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    padding: 0px;
    margin: 0px;
}

@keyframes heroBackgroundAnimation {
    45%{background-position: bottom}
    99%{background-position: top}
}

.frontpage-header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--main-bg-transparent-color);
    position: fixed;
    width: 100%;
}

.frontpage-header a{
    text-decoration: none;
}

.header-nav{
    margin: 1em;
    align-self: center;
}

.header-nav li{
    font-size: 1em;
    list-style: none;
    display: inline;
    margin: 2em;
    width: 80%;
}

.header-nav li:hover{
    text-decoration: underline;
    font-weight: bold;
}

.current-page{
    text-decoration: overline double;
}

.theme-changer-container{
    margin-top: 1em;
    margin-right: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    justify-self: end;
    align-self: center;
}

.theme-button-container{
    background-color: var(--main-bg-color);
    width: 2.3em;
    height: 1.5em;
    border-radius: 20em 20em 20em 20em;
    box-shadow: -0.1em 0.2em 0.5em var(--alt-bg-color) inset;
}

.theme-button{
    height: 1.2em;
    justify-self: center;
    background-color: var(--button-color);
    border-radius: 100%;
    position: absolute;
    margin: 0.3em;
    box-shadow: -0.1em 0.2em 0.5em var(--alt-bg-color);
}

.theme-button:hover {
    cursor: pointer;
}

.mobile-nav-img, .header-nav>p{
    display: none;
}

/* Hero CSS */

.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1em;
    margin-top: 8em;
}

.hero-text{
    margin: 5em;
    justify-self: center;
}

.hero-heading{
    font-size: 6.5em;
    font-weight: bolder;
}

.hero-subheading{
    font-size: 3em;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.hero-sub-subheading{
    font-size: 1.5em;
}

.hero-img{
    width: 20em;
    align-self: center;
    justify-self: center;
    border-radius: 20%;
    box-shadow: -10px 10px 20px darkblue;
    margin: 3em;
    margin-bottom: 7em;
}

.hero-down-arrow{
    width: 2em;
    align-self: flex-start;
    justify-self: center;
    animation: heroDown 3s ease-in-out infinite;
}

@keyframes heroDown {
    49%{margin-top: 1.5em;}
    99%{margin-top: 0em;}
}

/* Work CSS */

.frontpage-work{
    display: grid;
    grid-template-rows: 1fr 10fr;
    margin-top: 13em;
}

.frontpage-work-heading{
    color: var(--secondary-font-color);
    font-size: 5em;
    font-weight: 900;
    justify-self: center;
}

.frontpage-work-examples-container{
    margin: 8rem;
    display: grid;
    grid-template-columns: auto-fit, minmax(0, 1fr)  minmax(0, 1fr);
    gap: 5em;
}

.frontpage-work-examples-container>a{
    width: 40%;
    height: 70%;
    max-width: 100%;
    display: grid;
    padding: 2em;
}

.frontpage-work-examples:hover{
    border: 0.2em #1B3025 solid;
    cursor: pointer;
}

.frontpage-work-examples>p{
    color: var(--secondary-font-color);
    font-size: 2em;
    align-self: flex-start;
    justify-self: center;
    margin-bottom: 1em;
}

.frontpage-work-examples.not-active {
    display: none;
}

.work-examples-img1{
    width: 90%;
    align-self: flex-start;
    justify-self: center;
    margin: 2em;
}

.work-examples-img1:hover{
    position: absolute;
    animation: workMainImgAnimation 0.7s ease-in-out;
    width: 50%;
}

@keyframes workMainImgAnimation {
    0%{width: 30%;}
    100%{width: 50%;}
}

.frontpage-work-more-button{
    align-self: center;
    justify-self: center;
    color: var(--secondary-font-color);
    font-weight: 900;
    font-size: 1.4rem;
    text-decoration: none;
    margin: 1rem;
    margin-bottom: 8rem;
}

.frontpage-work-more-button:hover{
    font-size: 1.6rem;
    text-decoration: underline;
}

/* Footer CSS */

.footer{
    height: 80%;
    /* background-image: url("../resources/IMG_1 (95)-2.jpg"); */
    background-color: var(--alt-bg-color);
    display: grid;
}

.footer-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10rem;
}

.footer-quick-contact{
    display: grid;
    justify-self: center;
    grid-template-columns: 2fr 0.5fr;
    width: 75%;
}

.footer-quick-contact>p{
    font-size: 5rem;
    font-weight: 600;
}

.footer-contact-button{
    background-color: var(--main-bg-color);
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
}


.footer-contact-button:hover{
    width: 12rem;
    height: 12rem;
    cursor: pointer;
    animation: footerContactButton 1s ease-in-out;
}

@keyframes footerContactButton {
    0%{
        width: 10rem;
        height: 10rem;
    }
    100%{
        width: 12rem;
        height: 12rem;
    }
}

.footer-contact-button>p{
    color: var(--secondary-font-color);
    font-size: 1.2rem;
    font-weight: 400;
    align-self: center;
    justify-self: center;
}

.footer-contact-alt{
    align-self: center;
}

.footer-contact-alt>p{
    font-size: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 0.1rem #F1F1F1 solid;
    border-radius: 100px 100px 100px 100px;
    justify-self: center;
}





/* Mobile CSS Styling */
@media (200px <= width <= 500px) {
    .frontpage-start{
        background-image: url("../resources/IMG_1 (20).JPG");
        background-size: cover;
        height: 100%;
        animation: heroBackgroundAnimation 25s ease-in-out infinite;
        padding: 0px;
        margin: 0px;
    }

    .frontpage-header {
        background-color: rgba(0, 0, 0, 0);
    }

    .mobile-nav-bar{
        position: fixed;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0.5em;
    }
    
    .mobile-nav-img{
        display: block;
        padding: 1em;
    }

    .header-nav>p{
        display: block;
        color: var(--secondary-font-color);
        font-size: 0.7em;
        margin: 1em;
        font-weight: 900;
    }

    .header-nav{
        display: grid;
        border: #1B3025 1px solid;
        font-size: 7vw;
        background-color: var(--main-bg-color);
        visibility: hidden;
        z-index: 1;
    }

    .header-nav > ol{
        text-decoration: none;
        list-style-type: none;
        justify-self: center;
        width: 100%;
        display: grid;
        grid-template-rows: fr 1fr 1fr 1fr;
    }

    .header-nav-lis{
        justify-self: center;
    }

    .header-nav-options{
        text-decoration: none;
        justify-self: center;
        color: var(--secondary-font-color)
    }

    .current-page{
        text-decoration: overline double black;
    }

    .theme-button{
        justify-self: center;
        background-color: var(--button-color);
        border-radius: 100%;
        position: absolute;
        margin: 0.3em;
        box-shadow: -0.1em 0.2em 0.5em var(--alt-bg-color);
    }

/* Hero Mobile CSS */

    .hero{
        display: block;
        grid-template-rows: 0.1fr 1fr;
        grid-auto-flow: column;
        margin: 1em;
        margin-top: 5em;
    }

    .hero-text{
        margin: 0.5em;
        justify-self: center;
        align-self: start;
        text-align: center;
    }
    
    .hero-heading{
        font-size: 3em;
        font-weight: 700;
    }
    
    .hero-subheading{
        font-size: 1.5em;
        margin-top: 0.2em;
    }
    
    .hero-sub-subheading{
        font-size: 1em;
        display: none;
    }
    
    .hero-img{
        width: 80%;
        border-radius: 20%;
        box-shadow: -10px 10px 20px darkblue;
        margin-left: 2.1em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    
    .hero-down-arrow{
        width: 2em;
        align-self: flex-start;
        justify-self: center;
        animation: heroDown 3s ease-in-out infinite;
        margin-bottom: 5em;
    }

/* Work Mobile CSS */
    .frontpage-work{
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 4em;
    }
    
    .frontpage-work-heading{
        color: var(--secondary-font-color);
        font-size: 1.5em;
        font-weight: 900;
        text-align: center;
    }
    
    .frontpage-work-examples-container{
        margin: 1rem;
        display: grid;
        grid-template-columns: auto-fit, minmax(0, 1fr);
        border-bottom: 0.2em #1B3025 solid;
    }
    
    .frontpage-work-examples-container>a{
        background-color: var(--main-bg-color);
        width: 90%;
        height: 70%;
        max-width: 100%;
        display: grid;
        padding: 0.5em;
    }
    
    .frontpage-work-examples>p{
        color: var(--secondary-font-color);
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1em;
    }
    
    .frontpage-work-examples.not-active {
        display: none;
    }
    
    .work-examples-img1{
        width: 90%;
        align-self: flex-start;
        justify-self: center;
        margin: 2em;
    }

    .frontpage-work-more-button{
        border: 0.2rem solid black;
        padding: 1rem;
        margin-top: 2rem;
    }

    /* Footer Mobile CSS */

    footer{
        /* background-image: url("../resources/IMG_1 (95)-2.jpg"); */
        background-color: var(--alt-bg-color);
        display: grid;
    }
    
    .footer-content{
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 2rem;
        justify-self: center;
        align-self: center;
    }
    
    .footer-quick-contact{
        display: grid;
        justify-self: center;
        grid-template-columns: 2fr 0.5fr;
        width: 85%;
        margin: 2rem;
    }
    
    .footer-quick-contact>p{
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    .footer-contact-button{
        background-color: var(--main-bg-color);
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .footer-contact-button>p{
        color: var(--secondary-font-color);
        font-size: 0.6rem;
        font-weight: 400;
        align-self: center;
        justify-self: center;
    }
    
    .footer-contact-alt{
        align-self: center;
    }
    
    .footer-contact-alt>p{
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 0.1rem #F1F1F1 solid;
        border-radius: 100px 100px 100px 100px;
        justify-self: center;
    }
}
