@import url("./desktop_style.css");
@import url("./mobile_style.css");

:root {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;


    --main-bg-color: #1B3025;
    --main-bg-transparent-color: rgba(0, 0, 0, 0.9);
    --button-color: #F1F1F1;
}

*{
    padding: 0;
    margin: 0;
}

.roboto-mono {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

@media (2500px >= width >= 750px) {
    .frontpage-header {
        margin: 1em;
        display: grid;
        
    }
    
    .header-nav li{
        font-size: 1.2em;
        text-decoration: none;
        display: inline;
        margin: 1em;
        width: 80%;
    }
}

@media (200px <= width <= 500px) {
    .frontpage-header {
        width: 100%;
        display: grid;
        grid-template-rows: 1r 1r;
    }

    .header-nav{
        border: #1B3025 1px solid;
        font-size: 7vw;
        display: grid;
        grid-template-columns: 1r 1r 1r 1r;
        background-color: var(--main-bg-transparent-color);
        width: 100vw;
        overflow: hidden;
        visibility: hidden;
        position: fixed;
    }

    .header-nav > ol{
        text-decoration: none;
        list-style-type: none;
        justify-self: center;
        margin: 1em;
        margin-top: 0;
    }

    .header-nav-lis{
        padding: 0.5em;
        justify-self: center;
        padding: 1em;
    }

    .header-nav-options{
        text-decoration: none;
        justify-self: center;
        color: white;
    }

    .theme-changer{
        margin: 1.5em;
    }
}